@charset "UTF-8";
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  color: #000; }

html, body {
  height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

b, strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ol, ul {
  list-style: none; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td, caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

sub, sup, small {
  font-size: 75%; }

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  overflow: hidden; }

@font-face {
  font-family: 'playball';
  src: url("../fonts/playball/playball.eot");
  src: url("ptsans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/playball/playball.woff") format("woff"), url("../fonts/playball/playball.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*http://subtlepatterns.com - backgrouns for site*/
/*caniuse.com for ms, moz, webkit - ╨║╤А╨╛╤Б╤Б╨▒╤А╨░╤Г╨╖╨╡╤А╨╜╨╛╤Б╤В╤М*/
/* sourceMappingURL=main.css.map */
/* HEADER */
/* TOP_CONTENT */
/* SLIDER */
/* CATALOG */
/* ABOUT US */
/* CONTACTS */
/* FOOTER */
.top_content,
.slider,
.catalog,
article,
.contacts {
  padding: 20px 0; }

.top_article img:hover,
.bottom_article_img img:hover {
  -webkit-transform: matrix(2, 0, 0, 2, 0, 0);
      -ms-transform: matrix(2, 0, 0, 2, 0, 0);
          transform: matrix(2, 0, 0, 2, 0, 0); }

.top_img img,
.catalog_img img,
article img,
.contacts img {
  border: 3px solid #cccaca; }

.navigation span.next,
.navigation span.prev,
.pagination li {
  cursor: pointer; }

.wrapper {
  margin: 0 auto;
  max-width: 776px; }

.row {
  font-size: 0; }
  .row [class*="grd-step-column"] {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    box-sizing: border-box; }

.clearfix {
  clear: both; }

body {
  background-color: #fff;
  font-family: 'playball', sans-serif;
  font-size: 100%
  /* ========== HEADER ==========*/
  /* /header*/
  /* ========== TOP_CONTENT ========== */
  /* /top_content */
  /* ========== SLIDER ========== */
  /* /slider */
  /* ========== CATALOG ========== */
  /* /catalog*/
  /* ========== ABOUT US ========== */
  /* /article */
  /* ========== CONTACTS (FORM) ========== */
  /* /contacts*/
  /* ========== FOOTER ==========*/
  /* /footer */ }
  body header {
    background: #00A1D2;
    padding-bottom: 5px;
    position: relative
    /* /nav*/ }
    body header img {
      background: #00A1D2;
      border-radius: 20px;
      padding: 6px;
      position: absolute;
      top: 15px; }
    body header nav {
      font-size: 16px
      /* /ul */ }
      body header nav ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 25px
        /* /nav a*/ }
        body header nav ul a {
          color: #000;
          display: block;
          padding: 5px; }
          body header nav ul a:hover {
            color: darkorange;
            box-shadow: 3px -5px 8px rgba(0, 0, 0, 0.7);
            border-radius: 10px; }
  body .top_content {
    background: url(../img/grey_wash_wall.png); }
    body .top_content p {
      color: #fff;
      font-size: 0.875rem;
      padding-bottom: 20px;
      text-transform: uppercase;
      text-shadow: 1px 1px 15px black;
      text-align: center; }
    body .top_content img {
      border-radius: 20px; }
  body .slider {
    background: #f2f2f2;
    text-align: center
    /* /slider_img  */
    /* /pagination */
    /* /navigation */ }
    body .slider h1 {
      color: #000;
      font-size: 1.125rem; }
    body .slider h2 {
      color: #444;
      font-size: 1rem;
      font-weight: normal;
      margin-top: 10px; }
    body .slider .slider_img {
      border-top: 3px solid #b6b6b6;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin: 12px;
      padding-top: 30px
      /* /a*/ }
      body .slider .slider_img a {
        margin-right: 20px
        /* /img */ }
        body .slider .slider_img a:last-child {
          margin-right: 0px; }
        body .slider .slider_img a img {
          background: #fff;
          border: 3px solid #00A1D2;
          border-radius: 100px;
          display: block;
          height: 130px;
          width: 130px;
          padding: 10px; }
          body .slider .slider_img a img:hover {
            background: #0DBFF5;
            -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                    transform: rotate(360deg);
            -webkit-transition: all linear .4s;
                    transition: all linear .4s; }
        body .slider .slider_img a .item_name {
          color: #00A1D2;
          display: block;
          margin-top: 10px;
          text-shadow: 1px 1px 5px rgba(255, 47, 0, 0.9); }
    body .slider .pagination li {
      background: #0DBFF5;
      border-radius: 50px;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 20px;
      width: 20px;
      margin-left: 10px; }
      body .slider .pagination li:hover {
        background: #FF6713;
        box-shadow: 0px 0px 10px; }
    body .slider .navigation {
      position: absolute
      /* /navigation span */ }
      body .slider .navigation span {
        display: block;
        height: 22px;
        width: 32px;
        position: relative;
        top: -155px; }
      body .slider .navigation .prev {
        background: url(../img/arrows.png) no-repeat;
        float: left;
        right: 30px; }
      body .slider .navigation .next {
        background: url(../img/arrows.png) no-repeat 100% 0;
        left: 770px; }
  body .catalog {
    background: #363636
    /* /catalog table */
    /* /catalog_pagination */ }
    body .catalog h2 {
      color: red;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 10px; }
    body .catalog table {
      font-family: Tahoma;
      font-size: 16px;
      width: 56%
      /* /td */ }
      body .catalog table .bg_color {
        background: #585757; }
      body .catalog table tr:hover {
        background: #999; }
      body .catalog table td {
        border: 1px solid grey;
        color: #fff;
        padding: 4px 5px;
        vertical-align: middle;
        cursor: pointer; }
      body .catalog table .delete_img {
        color: red; }
      body .catalog table .add_img {
        color: #06FF06; }
    body .catalog img {
      border-radius: 20px; }
    body .catalog .catalog_pagination {
      margin-top: 10px; }
      body .catalog .catalog_pagination a {
        background: #444;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        margin-right: 5px;
        padding: 5px; }
        body .catalog .catalog_pagination a:hover {
          background: #777;
          color: red; }
  body article {
    background: #064954;
    text-align: justify
    /* /bottom_article_img*/ }
    body article h2 {
      color: #fff;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 10px;
      text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7); }
    body article p {
      color: #fff;
      text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7); }
    body article img {
      background: #fff;
      border-radius: 100px; }
    body article .top_article img {
      float: left;
      margin-right: 20px; }
    body article .bottom_article_img {
      float: right;
      margin-left: 20px; }
      body article .bottom_article_img .small_img img {
        margin-top: 10px; }
  body .contacts {
    background: #1F1D1D
    /* /form */ }
    body .contacts form {
      text-align: center;
      font-family: Tahoma;
      font-size: 16px
      /* /input */
      /* /buttons */ }
      body .contacts form h2 {
        color: #00a1d2;
        margin-bottom: 5px; }
      body .contacts form h3 {
        color: #00a1d2;
        margin-bottom: 5px; }
      body .contacts form label {
        color: #E8DB25;
        float: left;
        text-align: left;
        width: 30%; }
      body .contacts form label[for="message"] {
        margin-top: 20px; }
      body .contacts form #theme {
        border-radius: 10px;
        outline: none; }
      body .contacts form input {
        border: 1px solid #00a1d2;
        border-radius: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
        outline: none;
        width: 195px; }
        body .contacts form input:focus {
          background: -webkit-repeating-linear-gradient(315deg, #fff, #fff 25px, #e2edc1 25px, #e2edc1 50px) fixed;
          background: repeating-linear-gradient(135deg, #fff, #fff 25px, #e2edc1 25px, #e2edc1 50px) fixed; }
      body .contacts form textarea {
        border-radius: 10px;
        margin: 20px 0;
        outline: none;
        resize: none; }
        body .contacts form textarea:focus {
          background: -webkit-repeating-linear-gradient(135deg, #fff, #fff 25px, #e2edc1 25px, #e2edc1 50px) fixed;
          background: repeating-linear-gradient(-45deg, #fff, #fff 25px, #e2edc1 25px, #e2edc1 50px) fixed; }
      body .contacts form #buttons input {
        background-color: #00a1d2;
        border-radius: 10px;
        border: none;
        margin: 0 24px;
        padding: 5px;
        width: 110px; }
        body .contacts form #buttons input:hover {
          background-color: #75DFFF;
          border: none; }
    body .contacts img {
      border-radius: 200px; }
  body footer {
    background: #064954;
    height: 150px
    /* /social */
    /* /a */ }
    body footer p {
      color: #25A707;
      font-size: 1.125rem;
      font-weight: bold;
      text-align: center; }
    body footer ul {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex; }
    body footer .fb, body footer .fb:hover,
    body footer .rss, body footer .rss:hover,
    body footer .tw, body footer .tw:hover,
    body footer .utube, body footer .utube:hover,
    body footer .vk, body footer .vk:hover {
      border-radius: 30px;
      height: 50px;
      width: 50px; }
    body footer a {
      border-radius: 10px;
      background-color: #363636;
      color: #25A707;
      font-size: 16px;
      padding: 5px;
      width: 70px; }
      body footer a:hover {
        color: #363636;
        background-color: #3EF115; }
    body footer p {
      font-family: "Times New Roman"; }
    body footer .footer_bttm {
      text-align: center; }

/* /body */
.fb-icon {
  background: url(../img/social-sprite.png) 0px -50px no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 30px; }
  .fb-icon:hover {
    background-position: 0px 0; }

.rss-icon {
  background: url(../img/social-sprite.png) -52px -50px no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 30px; }
  .rss-icon:hover {
    background-position: -52px 0; }

.tw-icon {
  background: url(../img/social-sprite.png) -104px -50px no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 30px; }
  .tw-icon:hover {
    background-position: -104px 0; }

.utube-icon {
  background: url(../img/social-sprite.png) -156px -50px no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 30px; }
  .utube-icon:hover {
    background-position: -156px 0; }

.vk-icon {
  background: url(../img/social-sprite.png) -208px -50px no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 30px; }
  .vk-icon:hover {
    background-position: -208px 0; }

.grd-step-column1 {
  width: 8.33333%; }

.grd-step-column2 {
  width: 16.66667%; }

.grd-step-column3 {
  width: 25%; }

.grd-step-column4 {
  width: 33.33333%; }

.grd-step-column5 {
  width: 41.66667%; }

.grd-step-column6 {
  width: 50%; }

.grd-step-column7 {
  width: 58.33333%; }

.grd-step-column8 {
  width: 66.66667%; }

.grd-step-column9 {
  width: 75%; }

.grd-step-column10 {
  width: 83.33333%; }

.grd-step-column11 {
  width: 91.66667%; }

.grd-step-column12 {
  width: 100%; }

/* =============== ADMIN PANEL ===============*/
.admin_panel {
  background-color: #00A1D2;
  padding: 5px;
  position: fixed;
  left: -55px;
  top: 50%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: center;
  width: 120px
  /* /admin_content */ }
  .admin_panel:hover {
    margin-left: 345px;
    position: fixed;
    left: 0; }
  .admin_panel .admin_content {
    background-color: #fff;
    height: 200px;
    position: absolute;
    right: -135px;
    margin-top: 100px;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    width: 400px; }
    .admin_panel .admin_content legend {
      margin: 10px 0 30px; }
    .admin_panel .admin_content input {
      margin-bottom: 30px;
      width: 100px; }
    .admin_panel .admin_content input[type="button"] {
      width: 80px; }

/* /admin panel */
/* ========== PRODUCT INFO (overlay) ==========*/
.overlay {
  background: url(../img/overlay.png);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: none
  /* /dialog */ }
  .overlay dialog {
    background: #fff;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    margin-left: -350px;
    padding: 20px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 700px
    /* /dialog_img */
    /* /timer*/ }
    .overlay dialog img {
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;
      text-align: justify; }
    .overlay dialog form {
      margin: 10px 0;
      float: left; }
    .overlay dialog .timer {
      float: right
      /* /box */ }
      .overlay dialog .timer .box {
        font-size: 30px;
        border: 3px outset #D8C9C9;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 1px #000000 inset;
        padding: 10px 5px;
        position: relative; }
        .overlay dialog .timer .box:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          height: 1px;
          width: 100%;
          background: #fff; }
      .overlay dialog .timer .q {
        border: none;
        box-shadow: none; }
        .overlay dialog .timer .q:before {
          display: none; }

/* /overlay*/
