@import"../../bower_components/bootstrap/dist/css/bootstrap.css";
@import"_function.scss";
@import"_admin_panel.scss";
@import"_product_info.scss";


/* HEADER */
$header_bg: #00A1D2;
$nav_links_color: #00294C;
@mixin links_hover { border-radius: 15px; box-shadow: 3px -5px 8px rgba(0, 0, 0, 0.7); color: #FF8C00; }

/* TOP_CONTENT */
$top_content_bg: url(../img/grey_wash_wall.png);
@mixin top_text {
	color: #fff;
	font-size: 1.66rem;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px black;
	text-align: center;
	margin-top: 40px;
}

/* SLIDER */
$slider_bg: #f2f2f2;
@mixin slider_h3 { color: #000;	font-size: 1.7rem; }
@mixin slider_h4 { color: #444;	font-size: 1.5rem; font-weight: normal; }
@mixin slider_img { background: #fff; border: 3px solid #00A1D2; border-radius: 100px; height: 130px; width: 130px; padding: 10px; }
@mixin slider_img_hover { background: #0DBFF5; transform: rotate(360deg); transition: all linear .4s; }
@mixin item_name { color: #A69537; display: block; margin-top: 10px; }

/* CATALOG */
$catalog_bg: #363636;
$table_bg_color: #585757;
$table_bg_color_hover: #999;
$table_add: #74FF15;
$table_del: red;
@mixin table_pagination { background: #444; border-radius: 10px; color: #fff; font-size: 16px; margin-right: 5px; padding: 5px; }
@mixin table_pagination_hover { background: #777; color: red; }

/* ABOUT US */
@mixin article_bg { background: #064954; text-align: justify; }
@mixin article_text { color: #fff; text-shadow: 1px 1px 6px rgba(0,0,0,.7); }

/* CONTACTS */
$contacts_bg: #1F1D1D;
@mixin contacts_h5 { color: #00a1d2; margin: 0 0 5px; font-size: 1.6rem; }
@mixin contacts_label { color: #E8DB25;	float: left; font-size: 1.4rem; text-align: left; width: 30%; }

/* FOOTER */
$footer_bg: #064954;

.charter_style { color: red; font-size: 2rem; text-align: center; margin: 10px 0; }



//============= HEADER =======================
header {
	background-color: $header_bg;
	border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
	position: fixed;
	width: 100%;
	z-index: 100;

	img {
		background-color: #00A1D2;
		border-radius: 30px;
		padding: 5px 10px;
		position: absolute;
	}
	
	.nav > li { background-color: #00A1D2; border-radius: 35px;	top: 15px;
		a {	color: $nav_links_color; border: none;
			&:hover { @include links_hover; }
		}
	}
	.nav-tabs { border-bottom: none; }
}



//============= TOP_CONTENT =======================
.top_content {
	background-image: $top_content_bg;
	padding-top: 65px;
		h1,h2 { @include top_text; }
		.top_img{ text-align: center; padding-bottom: 20px; 
			img{ border-radius: 20px; max-width:100%; }
		}
}



//============= SLIDER =======================
.slider {
	background: $slider_bg;
	text-align: center;
	h3 { @include slider_h3; }
	h4 { @include slider_h4; }
	.slider_img {
			border-top: 3px solid #b6b6b6;
			padding-top: 30px;
			position: relative;
				img { @include slider_img;  &:hover {@include slider_img_hover;} }
				.item_name { @include item_name;}
				.glyphicon { position: absolute; top: 90px; font-size: 2em; 
					&:hover { cursor:pointer; }
				}
				.prev { left: 12%; }
				.next { right: 12%; }
		}
	.pagination > li > a { border-radius: 20px; 
		&:hover {background: #00A1D2; box-shadow: 0px 0px 10px 2px rgb(0, 161, 210); } 
	}
}




//============= CATALOG =======================
.catalog {
	background: $catalog_bg;
	table {
		font-family: Tahoma;
		.bg_color {	background: $table_bg_color; }
		tr:hover { background: $table_bg_color_hover; }
		td {
			border: 1px solid grey;
			color: #fff;
			cursor: pointer;
			padding: 4px 5px;
			vertical-align: middle;
		}/* /td */
		.delete_img, .add_img { color: grey; font-size: 1.7rem; }
		.delete_img:hover {color: red; }
		.add_img:hover { color: $table_add; }
	}/* /catalog table */
	img { border-radius: 20px; max-width: 100%; }
}



//============= ABOUT US =======================
article {
	@include article_bg;
	h4 { @include article_text; }
	img { background: #fff; border-radius: 100px; }
	.top_article img { float: left; margin-right: 20px; }
	.bottom_article_img { float: right; margin-left: 20px;
		.small_img img { margin-top: 10px; }
	}/* /bottom_article_img*/
.top_article img:hover,
.bottom_article_img img:hover { transform: matrix(2, 0, 0, 2, 0, 0); }
} /* /article */




//============= CONTACT FORM =======================
.contacts {	background: $contacts_bg; padding-bottom: 15px;
		form { text-align: center; font-family: Tahoma; font-size: 1.6rem; padding: 0 3%;
			h5 { @include contacts_h5; }
			label { @include contacts_label; }
			#theme { border-radius: 10px; outline: none; }
			input {
				border: 1px solid #00a1d2;
				border-radius: 10px;
				font-size: 1.4rem;
				margin-bottom: 5px;
				padding-left: 5px;
				outline: none;
				width: 50%;
				&:focus { background: repeating-linear-gradient(135deg, #fff, #fff 25px, #e2edc1 25px, #e2edc1 50px) fixed; }
			}/* /input */
			label[for='message'] { clear: both; }
			textarea { border-radius: 10px; height: 150px; margin-top: 10px; outline:none; resize: none; width: 50%; 
				&:focus { background: repeating-linear-gradient(-45deg, #fff, #fff 25px, #e2edc1 25px, #e2edc1 50px) fixed; }
			}
			#buttons input {
				background-color: #00a1d2;
				border-radius: 10px;
				border: none;
				margin: 0 24px;
				padding: 5px;
				width: 110px;
				&:hover { background-color: #75DFFF; border: none; }
			}/* /buttons */
		}/* /form */
		img { border-radius: 200px; }
	}/* /contacts*/



//============= FOOTER =======================
footer { background: $footer_bg;
		
		.social { text-align: center;	
			p {	color: #25A707;	font-size: 1.8rem; font-weight: bold; margin-top: 15px; }
			li { display: inline-block; }
		}/* /social */

		.footer_nav {
			li { display: inline-block; margin-top: 25px;
				a {
					border-radius: 10px;
					background-color: #363636;
					color: #25A707;
					padding: 5px;
					&:hover { color: #363636; background-color: #3EF115; }
				}/* /a */
			}/* /li */
		}/* /footer_nav */
		.footer_bttm { font-size: 1.8rem; font-family: "Times New Roman"; text-align: center; }
	}/* /footer */