a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%;text-decoration: none; color:#000;}html,body{height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}b,strong{font-weight:bold}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}q{quotes:none}q:before,q:after{content:'';content:none}sub,sup,small{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}svg{overflow:hidden}

section {
	background: url(../img/headerBg.png) no-repeat;
	-webkit-background-size: 100%;
	height: 100%;
	position: relative;
	width: 100%;
}
.noteText {
	position: absolute;
	top: 15%;
	left: 41%;
}
.noteText h1 { padding-bottom: 30px; }

.noteText h1,
.noteText p,
.noteText a {
	color: #fff;
	font-size: 1.7em;
	font-style: italic;
	text-align: center;
}

aside {
	background: url(../img/sandwich.png) no-repeat;
	cursor: pointer;
	position: fixed;
	top: 5%;
	left: 2%;
	height: 80px;
	width: 60px;
	transition: transform 0.4s ease;
}

/*aside ul { 
	display: none;
	margin-top: 104px;
	margin-left: -18%;
}*/
.show {
	display: block;
	margin-top: 104px;
	margin-left: -18%;
}
.hide {
	display: none;
	transition: transform 0.4s ease;
}
aside ul li {
	background: url(../img/sideBarBackground.png) no-repeat;
	border-radius: 20px;
	text-align: center;
	margin-bottom: 10px;
	width: 220px;
}
aside ul li a {
	color: #fff;
	font-size: 2rem;
}