@import url(../../bower_components/bootstrap/dist/css/bootstrap.css);

.fb-icon {
  background: url(../img/social-sprite.png) 0px -50px no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.fb-icon:hover {
  background-position: 0px 0;
}

.rss-icon {
  background: url(../img/social-sprite.png) -52px -50px no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.rss-icon:hover {
  background-position: -52px 0;
}

.tw-icon {
  background: url(../img/social-sprite.png) -104px -50px no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.tw-icon:hover {
  background-position: -104px 0;
}

.utube-icon {
  background: url(../img/social-sprite.png) -156px -50px no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.utube-icon:hover {
  background-position: -156px 0;
}

.vk-icon {
  background: url(../img/social-sprite.png) -208px -50px no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.vk-icon:hover {
  background-position: -208px 0;
}

/* =============== ADMIN PANEL ===============*/

/* /admin panel */

/* ========== PRODUCT INFO (overlay) ==========*/

/* /overlay*/

/* HEADER */

/* TOP_CONTENT */

/* SLIDER */

/* CATALOG */

/* ABOUT US */

/* CONTACTS */

/* FOOTER */

.charter_style {
  color: red;
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
}

header {
  background-color: #00A1D2;
  -webkit-border-bottom-left-radius: 40px;
  border-bottom-left-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  border-bottom-right-radius: 40px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

header img {
  background-color: #00A1D2;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 5px 10px;
  position: absolute;
}

header .nav > li {
  background-color: #00A1D2;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  top: 15px;
}

header .nav > li a {
  color: #00294C;
  border: none;
}

header .nav > li a:hover {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px -5px 8px rgba(0, 0, 0, 0.7);
  box-shadow: 3px -5px 8px rgba(0, 0, 0, 0.7);
  color: #FF8C00;
}

header .nav-tabs {
  border-bottom: none;
}

.top_content {
  background-image: url(../img/grey_wash_wall.png);
  padding-top: 65px;
}

.top_content h1,
.top_content h2 {
  color: #fff;
  font-size: 1.66rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px black;
  text-align: center;
  margin-top: 40px;
}

.top_content .top_img {
  text-align: center;
  padding-bottom: 20px;
}

.top_content .top_img img {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  max-width: 100%;
}

.slider {
  background: #f2f2f2;
  text-align: center;
}

.slider h3 {
  color: #000;
  font-size: 1.7rem;
}

.slider h4 {
  color: #444;
  font-size: 1.5rem;
  font-weight: normal;
}

.slider .slider_img {
  border-top: 3px solid #b6b6b6;
  padding-top: 30px;
  position: relative;
}

.slider .slider_img img {
  background: #fff;
  border: 3px solid #00A1D2;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  height: 130px;
  width: 130px;
  padding: 10px;
}

.slider .slider_img img:hover {
  background: #0DBFF5;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all linear .4s;
  transition: all linear .4s;
}

.slider .slider_img .item_name {
  color: #A69537;
  display: block;
  margin-top: 10px;
}

.slider .slider_img .glyphicon {
  position: absolute;
  top: 90px;
  font-size: 2em;
}

.slider .slider_img .glyphicon:hover {
  cursor: pointer;
}

.slider .slider_img .prev {
  left: 12%;
}

.slider .slider_img .next {
  right: 12%;
}

.slider .pagination > li > a {
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.slider .pagination > li > a:hover {
  background: #00A1D2;
  -webkit-box-shadow: 0px 0px 10px 2px #00a1d2;
  box-shadow: 0px 0px 10px 2px #00a1d2;
}

.catalog {
  background: #363636;
  /* /catalog table */
}

.catalog table {
  font-family: Tahoma;
  /* /td */
}

.catalog table .bg_color {
  background: #585757;
}

.catalog table tr:hover {
  background: #999;
}

.catalog table td {
  border: 1px solid grey;
  color: #fff;
  cursor: pointer;
  padding: 4px 5px;
  vertical-align: middle;
}

.catalog table .delete_img,
.catalog table .add_img {
  color: grey;
  font-size: 1.7rem;
}

.catalog table .delete_img:hover {
  color: red;
}

.catalog table .add_img:hover {
  color: #74FF15;
}

.catalog img {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  max-width: 100%;
}

article {
  background: #064954;
  text-align: justify;
  /* /bottom_article_img*/
}

article h4 {
  color: #fff;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}

article img {
  background: #fff;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

article .top_article img {
  float: left;
  margin-right: 20px;
}

article .bottom_article_img {
  float: right;
  margin-left: 20px;
}

article .bottom_article_img .small_img img {
  margin-top: 10px;
}

article .top_article img:hover,
article .bottom_article_img img:hover {
  -webkit-transform: matrix(2, 0, 0, 2, 0, 0);
  -ms-transform: matrix(2, 0, 0, 2, 0, 0);
  transform: matrix(2, 0, 0, 2, 0, 0);
}

/* /article */

.contacts {
  background: #1F1D1D;
  padding-bottom: 15px;
  /* /form */
}

.contacts form {
  text-align: center;
  font-family: Tahoma;
  font-size: 1.6rem;
  padding: 0 3%;
  /* /input */
  /* /buttons */
}

.contacts form h5 {
  color: #00a1d2;
  margin: 0 0 5px;
  font-size: 1.6rem;
}

.contacts form label {
  color: #E8DB25;
  float: left;
  font-size: 1.4rem;
  text-align: left;
  width: 30%;
}

.contacts form #theme {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  outline: none;
}

.contacts form input {
  border: 1px solid #00a1d2;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 1.4rem;
  margin-bottom: 5px;
  padding-left: 5px;
  outline: none;
  width: 50%;
}

.contacts form input:focus {
  background: -webkit-repeating-linear-gradient(315deg, #fff, #fff 25px, #e2edc1 25px, #e2edc1 50px) fixed;
  background: repeating-linear-gradient(135deg, #fff, #fff 25px, #e2edc1 25px, #e2edc1 50px) fixed;
}

.contacts form label[for='message'] {
  clear: both;
}

.contacts form textarea {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 150px;
  margin-top: 10px;
  outline: none;
  resize: none;
  width: 50%;
}

.contacts form textarea:focus {
  background: -webkit-repeating-linear-gradient(135deg, #fff, #fff 25px, #e2edc1 25px, #e2edc1 50px) fixed;
  background: repeating-linear-gradient(-45deg, #fff, #fff 25px, #e2edc1 25px, #e2edc1 50px) fixed;
}

.contacts form #buttons input {
  background-color: #00a1d2;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  margin: 0 24px;
  padding: 5px;
  width: 110px;
}

.contacts form #buttons input:hover {
  background-color: #75DFFF;
  border: none;
}

.contacts img {
  -webkit-border-radius: 200px;
  border-radius: 200px;
}

/* /contacts*/

footer {
  background: #064954;
  /* /social */
  /* /footer_nav */
}

footer .social {
  text-align: center;
}

footer .social p {
  color: #25A707;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 15px;
}

footer .social li {
  display: inline-block;
}

footer .footer_nav {
  /* /li */
}

footer .footer_nav li {
  display: inline-block;
  margin-top: 25px;
  /* /a */
}

footer .footer_nav li a {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #363636;
  color: #25A707;
  padding: 5px;
}

footer .footer_nav li a:hover {
  color: #363636;
  background-color: #3EF115;
}

footer .footer_bttm {
  font-size: 1.8rem;
  font-family: "Times New Roman";
  text-align: center;
}

/* /footer */
