@font-face {
	font-family: "MyriadPro-Regular";
	src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
	src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
	url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Zurich__Condensed";
	src: url("../fonts/zurich/Zurich__Condensed_BT.eot");
	src: url("../fonts/zurich/Zurich__Condensed_BT.eot?#iefix")format("embedded-opentype"),
	url("../fonts/zurich/Zurich__Condensed_BT.woff") format("woff"),
	url("../fonts/zurich/Zurich__Condensed_BT.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
body {
	background: #e3ddcd url(../img/body_bg.png);
	font: 16px 'MyriadPro-Regular', serif;
}

.wrapper {margin: 0 auto; max-width: 990px;}





/*===============HEADER===============*/
.top_header { display: flex; justify-content: space-between; }

.logo {	margin-top: 20px; margin-left: 27px; }

.header_right { margin-top: 15px; }

.header_right p { color: #585755; font-size: 12px; margin-left: 10px; }

.header_right strong {color: #373737; font-size: 20px;}

.header_nav {font: 13px 'Zurich__Condensed'; margin-top: -18px;}

.header_nav ul { display: flex; justify-content: flex-end; }

.header_nav li{ padding: 0 8px; }
.header_nav li:last-child { padding: 0; }

.header_nav a {color: #209a28;}
.header_nav a:hover {color: #124816;}





/*===============NAVIGATION===============*/
nav {background: #65c03d; border: 1px solid #0c932f; box-shadow: inset 0 -30px 50px 0px rgba(15,148,26,.7); margin-top: 28px;}

nav ul {display: flex; justify-content: space-around;}

nav li {padding: 10px 20px;}

nav a {font: bold 15px 'Zurich__Condensed'; color: #fff; text-transform: uppercase; letter-spacing: 1px; text-shadow: 0px -3px 1px rgba(28,124,31, .9);}





/*===============MAIN CONTENT===============*/
.content_link a { display: block; color: #14961c; font: 12px Arial, sans-serif; margin: 10px 0 0 25px; }

.main_content { background: #fff; margin-top: 8px; padding: 18px; width: 71%;}

.slider { position: relative; }
.slider img { border-radius: 10px; height: 266px; width: 705px; }
.slider_text { background: #211a12; position: absolute; top: 0; right: 0; height: 246px; width: 29%; padding: 17px; overflow: hidden;}
.slider_text p { font: 22px 'Zurich__Condensed', sans-serif; color: #fff; margin-left: 5px; }
.slider_text em { font: 32px 'Zurich__Condensed', sans-serif; color: #28b028; }
.slider_text strong { display: block; font: 12px Arial, sans-serif; color: #fff; margin-top: 10px; margin-left: 7px; line-height: 18px;}
.slider_text a { color: #28b028; display: block; font: 12px Arial, sans-serif; margin-left: 5px; }