@font-face {
	font-family: "MyriadPro-Regular";
	src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
	src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
	url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Zurich__Condensed";
	src: url("../fonts/zurich/Zurich__Condensed_BT.eot");
	src: url("../fonts/zurich/Zurich__Condensed_BT.eot?#iefix")format("embedded-opentype"),
	url("../fonts/zurich/Zurich__Condensed_BT.woff") format("woff"),
	url("../fonts/zurich/Zurich__Condensed_BT.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
body {
	background: #e3ddcd url(../img/body_bg.png);
	font: 16px 'MyriadPro-Regular', serif;
}

.wrapper { margin: 0 105px; max-width: 990px; }
.flex_box { display: flex; position: relative; }






/*===============HEADER===============*/
.top_header { display: flex; justify-content: space-between; }

.logo {	margin-top: 20px; margin-left: 26px; }

.header_right p { color: #585755; font-size: 12px; margin-left: 8px; margin-top: 15px; }
.header_right strong {color: #373737; font-size: 20px; }

.header_nav {font: 13px 'Zurich__Condensed'; margin-top: -18px;}

.header_nav ul { display: flex; justify-content: flex-end; }

.header_nav li{ padding: 0 8px; }
.header_nav li:last-child { padding: 0; }

.header_nav a {color: #209a28;}
.header_nav a:hover {color: #124816;}





/*===============NAVIGATION===============*/
nav ul {background: #65c03d; border: 1px solid #0c932f; box-shadow: inset 0 -30px 50px 0px rgba(15,148,26,.7); display: flex; margin-top: 26px; justify-content: space-around;}

nav li { padding: 10px 10px;}

nav a {font: bold 15px 'Zurich__Condensed'; color: #fff; text-transform: uppercase; letter-spacing: 1px; text-shadow: 0px -3px 1px rgba(28,124,31, .9);}
nav a:hover {color: #000;}





/*===============MAIN CONTENT===============*/
.content_link a { display: block; color: #14961c; font: 12px Arial, sans-serif; margin: 12px 0 0 23px; }

.main_content { background: #fff; margin-top: 8px; padding: 18px; width: 71%;}


/*--------SLIDER--------*/
.slider { display: flex; border-radius: 10px; width: 100%; height: 267px;}
.slider img { width: 100%; }
.slider_text { background: rgba(33,26,18,.9); border-bottom-right-radius: 10px; border-top-right-radius: 10px; height: 235px; margin-left: -234px; margin-top: 2px; width: 205px; padding: 15px 17px; }
.slider_text p { font: 22px 'Zurich__Condensed'; color: #fff; }
.slider_text em { font: 32px 'Zurich__Condensed'; color: #28b028; }
.slider_text strong { display: block; font: 12px Arial; color: #fff; margin-top: 11px; line-height: 18px; }
.slider_text a { color: #28b028; display: block; font: 12px Arial; margin-top: 2px;}

.slider_text .pagination { display: flex; align-items: baseline; font-size: 12px; margin-top: 18px; text-align: center; }
.slider_text .pagination .active {background: #228217; box-shadow: inset 0 20px 10px -5px rgba(103,217,69,.7); padding: 2px;}
.slider_text .pagination a { background: #6b685e; border-radius: 50px; color: #fff; margin-right: 10px; height: 21px; width: 21px; line-height: 20px; }


/*--------UNDER_SLIDER_TXT--------*/
.under_slider_txt { width: 65%; }
.under_slider_txt h1 { color: #444137; font: 26px 'Zurich__Condensed'; word-spacing: 3px; margin-top: 23px;}
.under_slider_txt h2 { font: 12px Arial; margin-top: 7px; margin-left: 3px; line-height: 20px;}
.under_slider_txt a { font-weight: bold; color: #28b028; text-decoration: underline; }
.under_slider_img { position: absolute; bottom: -18px; right: 48px;}


/*--------CONTENT_NAV--------*/
.content_nav { border-radius: 5px; display: flex; margin-top: 16px;}
.content_nav li { position: relative; width: 100%; }
.content_nav a { display: block; font: 18px 'Zurich__Condensed'; line-height: 38px; padding-left: 27%; }
.content_nav_active { background: #65c03d; box-shadow: inset 0 -30px 50px 0px rgba(15,148,26,.7); border: 1px solid #0c932f; color: #fff; text-shadow: 0px -2px 1px rgba(28,124,31, .9); }
.content_nav_default { background: url(../img/triangle.png) no-repeat 22% 55%; border: 1px solid #cfcdc5; }
.content_nav_triangle { background: url(../img/triangle.png) no-repeat; display: block; height: 9px; width: 7px; transform: rotate(90deg); position: absolute; bottom: -8px; left: 45%;}


/*--------IMG_BOXES--------*/
.img_boxes { display: flex; flex-wrap: wrap; justify-content: space-between; }

.box { padding-right: 8px; width: 30%; margin-top: 22px; }
.box img { border: 4px solid #e9e6df; border-radius: 5px; height: 98px; width: 100%; }
.box h3 { font: bold 14px Arial; padding-top: 9px; padding-left: 3px;}
.box h4 { font: 12px Arial; padding-top: 9px; padding-left: 3px; line-height: 17px; }






/*.clerfix { content: "."; display: block; height: 0; clear: both; visibility: hidden; }*/