@font-face {
	font-family: "MyriadPro-Regular";
	src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
	src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
	url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Zurich__Condensed";
	src: url("../fonts/zurich/Zurich__Condensed_BT.eot");
	src: url("../fonts/zurich/Zurich__Condensed_BT.eot?#iefix")format("embedded-opentype"),
	url("../fonts/zurich/Zurich__Condensed_BT.woff") format("woff"),
	url("../fonts/zurich/Zurich__Condensed_BT.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
body {
	background: #e3ddcd url(../img/body_bg.png);
	font: 16px 'MyriadPro-Regular', serif;
}

.wrapper {margin: 0 auto; max-width: 990px;}






/*===============HEADER===============*/
.logo {
	margin-top: 20px;
	margin-left: 27px;

}
.header_right {margin-top: 15px;}

.header_right p {
	color: #585755;
	font-size: 12px;
	margin-left: 10px;
}

.header_right strong {color: #373737; font-size: 20px;}

.header_nav {font: 13px 'Zurich__Condensed'; margin-top: -18px;}

.header_nav ul {}

.header_nav li:nth-child(1) {padding: 0 8px;}
.header_nav li:nth-child(2) {padding: 0 5px 0 10px;}
.header_nav li:nth-child(3) {padding: 0 6px;}
.header_nav li:nth-child(4) {padding: 0 7px;}
.header_nav li:nth-child(5) {padding: 0 0 0 7px;}

.header_nav a {color: #209a28;}
.header_nav a:hover {color: #124816;}





/*===============NAVIGATION===============*/
nav {background: #65c03d; border: 1px solid #0c932f; box-shadow: inset 0 -30px 50px 0px rgba(15,148,26,.7); margin-top: 25px;}
nav ul {display: inline-flex;}
nav li:nth-child(1) {padding: 10px 25px;}
nav li:nth-child(2) {padding: 10px 20px;}
nav li:nth-child(3) {padding: 10px 25px;}
nav li:nth-child(4) {padding: 10px 25px;}
nav li:nth-child(5) {padding: 10px 24px;}
nav li:nth-child(6) {padding: 10px 23px;}
nav li:nth-child(7) {padding: 10px 19px;}
nav a {font: bold 15px 'Zurich__Condensed'; color: #fff; text-transform: uppercase; letter-spacing: 1px; text-shadow: 0px -3px 1px rgba(28,124,31, .9);}