@font-face {
	font-family: "MyriadPro-Regular";
	src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
	src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
	url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Zurich__Condensed";
	src: url("../fonts/zurich/Zurich__Condensed_BT.eot");
	src: url("../fonts/zurich/Zurich__Condensed_BT.eot?#iefix")format("embedded-opentype"),
	url("../fonts/zurich/Zurich__Condensed_BT.woff") format("woff"),
	url("../fonts/zurich/Zurich__Condensed_BT.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Kalvika_Medium";
	src: url("../fonts/Klavika Medium Plain/Klavika Medium Plain.eot");
	src: url("../fonts/Klavika Medium Plain/Klavika Medium Plain.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Klavika Medium Plain/Klavika Medium Plain.woff") format("woff"),
	url("../fonts/Klavika Medium Plain/Klavika Medium Plain.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
body {
	background: #e3ddcd url(../img/body_bg.png);
	font: 16px 'MyriadPro-Regular', serif;
	color: #fff;
}

.wrapper { margin: 0 auto; max-width: 990px; }
.flex_box { display: flex; position: relative; }
.clerfix { content: "."; display: block; height: 0; clear: both; visibility: hidden; }





/*===============HEADER===============*/
.top_header { display: flex; justify-content: space-between; }

.logo {	margin-top: 20px; margin-left: 26px; }

.header_right p { color: #585755; font-size: 12px; margin-left: 8px; margin-top: 15px; }
.header_right strong {color: #373737; font-size: 20px; }

.header_nav {font: 13px 'Zurich__Condensed'; margin-top: -18px;}
.header_nav ul { display: flex; justify-content: flex-end; }
.header_nav li{ padding: 0 8px; }
.header_nav li:last-child { padding: 0; }
.header_nav a {color: #209a28;}
.header_nav a:hover {color: #124816;}





/*===============NAVIGATION===============*/
nav ul {background: #65c03d; border: 1px solid #0c932f; box-shadow: inset 0 -30px 50px 0px rgba(15,148,26,.7); display: flex; margin-top: 26px; margin-bottom: 5px; justify-content: space-around;}
nav a {font: bold 15px 'Zurich__Condensed'; color: #fff; text-transform: uppercase; letter-spacing: 1px; text-shadow: 0px -3px 1px rgba(28,124,31, .9); padding: 10px; display: block; }
nav a:hover {color: #000;}





/*===============MAIN CONTENT===============*/
.content_link a { color: #14961c; font: 12px Arial, sans-serif; margin-left: 12px; }
.content_link a:hover { color: #000; }

.main_flex { display: flex; margin-top: 8px;}
.main_content { background: #fff; padding: 18px; width: 71%;}


/*--------SLIDER--------*/
.slider {overflow: hidden; position: relative; }
.slider ul { width: 9999px; }
.slider ul li { float: left; width: 705px; }
.slider img { height: 266px; width: 700px; }
.slider_text { background: rgba(33,26,18,.9); border-bottom-right-radius: 10px; border-top-right-radius: 10px; height: 237px; width: 205px; padding: 15px 17px; position: absolute; top: 0; right: 0; }
.slider_text p { font: 22px 'Zurich__Condensed'; color: #fff; margin-bottom: 11px; }
.slider_text em { font: 32px 'Zurich__Condensed'; color: #28b028; }
.slider_text strong { font: 12px Arial; color: #fff; line-height: 18px; }
.slider_text a { color: #28b028; display: block; font: 12px Arial; margin-top: 2px;}
.slider .nav { position: absolute; right: 15px; bottom: 12px; }
.slider .nav span { opacity: 0.9; background: #6b685e; margin: 0 8px 0 0; width: 16px; height: 16px; border-radius: 8px; cursor: pointer; overflow: hidden; display: block; float: left; box-shadow: 0 1px 2px #000; }
.slider .nav span.on { border-radius: 50px; background: #228217; box-shadow: inset 0 20px 10px -5px rgba(103,217,69,.7); padding: 2px; }


/*--------UNDER_SLIDER_TXT--------*/
.under_slider_txt { position: relative; width: 65%; }
.under_slider_txt h1 { color: #444137; font: 26px 'Zurich__Condensed'; word-spacing: 3px; margin-top: 23px;}
.under_slider_txt h2 { font: 12px Arial; margin-top: 7px; margin-left: 3px; line-height: 20px;}
.under_slider_txt a { font-weight: bold; color: #28b028; text-decoration: underline; }
.under_slider_img { position: absolute; bottom: -18px; right: -180px;}


/*--------TABS_NAV--------*/
.tabs_nav { border-radius: 5px; display: flex; margin-top: 16px;}
.tabs_nav li { position: relative; width: 100%; }
.tabs_nav a { display: block; font: 18px 'Zurich__Condensed'; line-height: 38px; padding-left: 27%; }
.nav_active { background: #65c03d; box-shadow: inset 0 -30px 50px 0px rgba(15,148,26,.7); border: 1px solid #0c932f; color: #fff; text-shadow: 0px -2px 1px rgba(28,124,31, .9); }
.nav_active:after { content: ''; border: 5px solid transparent;	border-top: 5px solid green; position: absolute; bottom: -10px; left: 40%; }
.nav_default {  border: 1px solid #cfcdc5; }
.nav_default:before { content: ''; border: 5px solid transparent; border-left: 5px solid green; display: block; position: absolute; top: 35%; left: 50px;}



/*--------TABS CONTENT--------*/
.img_boxes { display: flex; flex-wrap: wrap; justify-content: space-between; }

.box { padding-right: 8px; width: 30%; margin-top: 22px; }
.box img { border: 4px solid #e9e6df; border-radius: 5px; height: 98px; width: 100%; }
.box h3 { font: bold 14px Arial; padding-top: 9px; padding-left: 3px;}
.box h4 { font: 12px Arial; padding-top: 9px; padding-left: 3px; line-height: 17px; }





/*===============ASIDE===============*/
aside { background: #f4f2ec; width: 21%; border-left: 1px solid #e8e3da; padding: 21px; }

.select { display: flex; flex-direction: column; }
.active_select { background-position: 98% -40% !important; color: #231f20 !important; cursor: pointer; }
.select select { background: url(../img/selectTriangle.png) no-repeat 98% 140%, #fff; -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #999999; margin: 10px 0; width: 100%; }

.btn { color: #fff; cursor: pointer; text-shadow: 0px -2px 1px rgba(0,0,0,.5); font: 15px 'Kalvika_Medium'; position: relative;}
.submit { background: #65c03d; border: 1px solid #0c932f; border-radius: 5px; box-shadow: inset 0 -30px 50px 0px rgba(15,148,26,.7), 0px 0px 0px 4px rgba(199, 196, 188, .7); font-size: 14px; padding: 5px 7px; }

.aside_header { font: 14px 'MyriadPro-Regular'; color: #3f3b30; }
.aside_text { font: 12px Arial; color: #3f3b30; }
.aside_btn { background: url(../img/button_bg.png) no-repeat; border: none; outline: none; line-height: 38px; padding-right: 40px; margin-bottom: 30px; width: 200px; }
.aside_btn:after { background: url(../img/search_arrow.png) no-repeat; content: ''; display: block; width: 14px; height: 14px; position: absolute; top: 13px; right: 30px;}

.country_code { font: 12px Arial; color: #3f3b30; }

.quick_search,
.middle_aside { padding: 20px 0; border-bottom: 1px solid #e1dbce;}

.input { border-radius: 5px; border: 1px solid #cfcdc5; color: #666666; font: 11px Arial; padding: 5px; box-shadow: 0px 0px 0px 4px rgba(220, 212, 193, .5); line-height: 15px; outline: none; width: 100px; margin-right: 10px;}
.input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease; }
.input:focus::-moz-placeholder {opacity: 0; transition: opacity 0.3s ease; }
.input:focus::-moz-placeholder {opacity: 0; transition: opacity 0.3s ease; }
.input:focus::-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease; }

.email { width: 98%; margin: 20px 0; }

.footer_aside { margin-top: 20px; }
.footer_aside li:first-child { margin-top: 10px; }
.footer_aside li { margin-top: 20px; }
.footer_aside li strong { font: bold 12px Arial; color: #3f3b30; }
.footer_aside li p { font: 12px Arial; color: #3f3b30; }
