html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
.content {
	width: 800px;
	height: 100%;
	outline: 1px solid red;
	margin: 0 auto;
}
.sidebar {
	outline: 1px solid green;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.sidebar ul {
	padding-left: 20px;
}
.sidebar li {
list-style: none;
}
.sidebar a:first-child {
	background: url(../img/educationIcon.png) no-repeat;
	width: 10px;
	height: 10px;
	background-size: contain;
	padding-left: 20px;
}

.tooggler {
	position: absolute;
	right: 0;
	top: 0;	
}