@charset "UTF-8";
/* 12 */
/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column1 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 6.25%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column2 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 12.5%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column3 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 18.75%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column4 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 25%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column5 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 31.25%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column6 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 37.5%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column7 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 43.75%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column8 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 50%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column9 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 56.25%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column10 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 62.5%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column11 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 68.75%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column12 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 75%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column13 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 81.25%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column14 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 87.5%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column15 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 93.75%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤В 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤В╨╛╤А╨╛╨╡ ╤А╨░╨▓╨╜╨╛ ╨╛╤В 1 ╨┤╨╛ 16)*/
.grd-step-column16 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤В 1 ╨┤╨╛ 16*/
  width: 100%;
  /* ╨║ ╤И╨╕╤А╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤В╨░╨║ ╨┤╨╛ 16 1╤П-100%, 2╤П- 93,75%, 3╤П-87,5% 4╤П-81,125% ╨╕ ╤В.╨┤. (╨╛╤В 100 ╨╛╤В╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤В ╤Б╨╗╨╡╨┤ ╨╖╨╜╨░╤З - 6,25 ╨╕ ╤В.╨┤)*/ }

.row {
  font-size: 0;
  /* ╨┤╨╡╤Д╨╛╨╗╤В╨╜╨╛╨╡ ╨┐╨╛╨▓╨╡╨┤╨╡╨╜╨╕╨╡ ╨▒╤А╨░╤Г╨╖╨╡╤А╨░, ╨╜╨░╨┤╨╛ ╤З╤В╨╛-╨▒╤Л ╤Г╨▒╤А╨░╤В╤М ╨╛╤В╤Б╤В╤Г╨┐╤Л ╨╝╨╡╨╢╨┤╤Г ╨▒╨╗╨╛╨║╨░╨╝╨╕*/
  background: green;
  /* ╨▓╨╡╤И╨░╨╡╨╝ ╨┤╨╗╤П ╨▒╨╗╨╛╨║╨╛╨▓ ╨╛╨┤╨╕╨╜╨╛╨║╨╛╨▓╨╛╨╣ ╨▓╤Л╤Б╨╛╤В╤Л*/ }
  .row [class*="grd-step-column"],
  .row [class*="grd-fill-column"] {
    display: inline-block;
    /* ╨╗╨╕╨▒╨╛ ╨╖╨░╨┤╨░╤В╤М display: table-cell*/
    vertical-align: top;
    font-size: 14px;
    padding: 0 5px;
    box-sizing: border-box; }

/* html height:100%
body height:100%
╨▓╨╛ ╨▓╤А╨░╨┐╨┐╨╡╤А ╨╗╨╛╨╢╨╕╨╝ header and content
footer ╨╗╨╛╨╢╨╕╨╝ ╨▓ body ╨╕ margin-top -...px*/

/*# sourceMappingURL=main.css.map */
