body {
	background-color: #fff;
	font-size: 100%;
	font-family: Tahoma;
}
.wrapper {
	margin: 0 auto;
	max-width: 660px;
}

/* =============== header =============== */
header {
	background: #121821;
}
.header_left,
.header_right a{
	color: #56606b;
	font-size: 0.6875rem;
}
.header_left {
	float: left;
	margin-top: 8px;
	margin-bottom: 7px;
}
.header_left a {
	color: #99a7b5;
	font-size: 0.6875rem;
}
.header_left a,
.header_right a {
	text-decoration: underline;
}
.header_right {
	display: flex;
	float: right;
	margin-top: 3px;
}
.header_right li{
	list-style-image: url(../img/arrow.png);
	list-style-position: inside;
	margin-left: 18px;
}

/* =============== top_content =============== */
.top_content {
	background: #18202b;
	padding: 23px 0;
}
.left_top_col {
	float: left;
	width: 43.184%;
}
.left_top_col img {
	float: left;
	margin-right: 8px;
}
.left_top_col strong {
	color: #d9e9ff;
	display: block;
	font: 25px "Myriad Pro", sans-serif;
	margin-top: 6px;
}
.left_top_col p {
	color: #606b75;
	font-size: 11px;
	line-height: 0;
}
.rigth_top_col {
	float: right;
}
.rigth_top_col p{
	color: #99a6b5;
	font-size: 22px;
	margin-top: 9px;
	margin-right: -1px;
}

/* =============== middle_content =============== */
.middle_content {
	background: #1e2735;
	padding-top: 36px;
	padding-bottom: 196px;
}
.middle_left {
	float: left;
	margin-top: 4px;
	width: 44%;
}
.middle_left h1 {
	color: #fff;
	font-size: 22px;
	padding-bottom: 10px;
}
.middle_left h2 {
	color: #7e8c95;
	font: 12px Arial, sans-serif;
	line-height: 20px;
	padding-bottom: 20px;
}
.middle_left a {
	background: #d7d7d7;
	border-radius: 3px;
	color: #233041;
	font: bold 15px Arial, sans-serif;
	padding: 7px 29px 7px 25px;
	margin-right: 10px;
}
.middle_left a:last-child {
	padding: 7px 37px 7px 13px;
	margin-right: 0;
}
.middle_left a:hover {
	background: #afc5e2;
}
.middle_right {
	float: right;
}
.middle_right img {
	background: #fff;
	-webkit-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.6);
	box-shadow: 0 6px 9px rgba(0, 0, 0, 0.6);
	width: 330px;
	height: 185px;
}

/* =============== main =============== */
.main {
	background: #fff;
	position: relative;
	height: 651px;
}
.main .main_content {
	background: #fff;
	-webkit-box-shadow: 0 8px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 8px 4px rgba(0, 0, 0, 0.6);
	box-shadow: 0 8px 4px rgba(0, 0, 0, 0.6);
	position: absolute;
	padding-bottom: 8px;
	top: -160px;
	width: 660px;
	z-index: 2;
}
/* ======== article ======== */
.main .top_article,
.middle_article,
.bttm_article {
	float: left;
	margin: 25px 20px 0 21px;
	padding-bottom: 20px;
	border-bottom: 3px dashed grey;
	width: 380px;
}
.middle_article,
.bttm_article {
	margin-top: 35px;
}
.main article h2 {
	color: #1e2735;
	font-size: 19px;
}
.main .top_article_text {
	float: left;
	width: 190px;
}
.main article p,
.main article strong {
	color: #666;
	font-size: 12px;
	padding-bottom: 10px;
}
.main article a {
	background: url(../img/link_arrow.png) no-repeat 0 60%;
	color: #007bc5;
	font-size: 12px;
	padding-left: 5px;
	text-decoration: underline;
}
.top_article img {
	background: #000;
	float: right;
	height: 145px;
	width: 160px;
}
.middle_article img {
	background: #000;
	height: 148px;
	width: 377px;
	margin: 10px 0;
}
.bttm_article img {
	background: #000;
	float: left;
	margin-right: 14px;
	height: 143px;
	width: 165px;	
}
.bttm_article {
	border: none;
}

/* =============== sidebar =============== */
aside {
	float: right;
	padding-top: 24px;
	padding-right: 20px;
	width: 212px;
}
.sidebar_navigation h2 {
	padding-bottom: 10px;
}
.sidebar_navigation nav {
	padding-top: 7px;
}
.sidebar_navigation nav li {
	border-top: 1px dotted #999;
	padding: 5px;
}
.sidebar_navigation nav li a {
	text-decoration: none;
}
.sidebar_navigation nav li a:last-child {
	border-bottom: 1px dotted #999;
}
.sidebar_widget {
	border-bottom: 3px dashed grey;
	padding-top: 4px;
	padding-bottom: 10px;
}
.sidebar_widget img {
	background: #000;
	height: 153px;
	margin-top: 12px;
	margin-bottom: 10px;
	width: 208px;
}
.adwertise {
	margin-top: 34px;
}
.adwertise img {
	margin-top: 10px;
	height: 100px;
	width: 100px;
}

/*bttm_social*/
.bttm_social {
	background: #1f2836;
	padding-top: 57px;
	padding-bottom: 30px;
	z-index: 1;
}
.bttm_social_left {
	float: left;
}
.bttm_social img {
	float: left;
	margin-top: -10px;
}
.bttm_social strong {
	color: #7c889a;
	font-size: 16px;
}
.bttm_social p {
	color: #3f4955;
	font-size: 11px;
}
.bttm_social ul {
	float: right;
	margin-top: -3px;
}
.bttm_social li {
	float: left;
	margin-right: 3px;
}
.bttm_social a {
	display: block;
	height: 28px;
	opacity: .5;
	width: 28px;
}
.bttm_social a:hover {
	opacity: 1;
}
.facebook {
	background: url(../img/sprite.png);
}
.in {
	background: url(../img/sprite.png) 21% 0;
}
.twit {
	background: url(../img/sprite.png) 41% 0;
}
.gmail {
	background: url(../img/sprite.png) 61% 0;
}
.google_plus {
	background: url(../img/sprite.png) 80% 0;
}
.you_tube {
	background: url(../img/sprite.png) 100% 0;
}

/* ===== footer_text ===== */
.footer_text {
	background: #121821;
}
.footer_text p {
	color: #56606b ;
	font: bold 11px Arial, sans-serif;
	text-align: center;
	padding-top: 17px;
	padding-bottom: 10px;
}
.footer_text a {
	color: #99a7b5;
	text-decoration: underline;
}
.clearfix {
	clear: both;
}
